# OS & editor
.DS_Store
.ipynb_checkpoints/
.vscode/

# Python
__pycache__/
*.pyc
.venv/
venv/
*.egg-info/

# Data (ignored)
data/**/*.csv
data/*.csv
data_clean/**/*.csv
data_clean/*.csv
outputs/**/*.csv
outputs/*.csv

# Large artifacts
*.parquet
*.feather
*.arrow
*.pkl
*.zip
*.gz

# Secrets
*.env
.env
